.game {
  height: 100vh;
  background-color: rgb(119, 96, 68);
}

.container h3 {
  color: rgb(202, 137, 39);
}

.row img {
  width: 80px;
  height: 80px;
}

.shadow {
  background-color: rgb(203, 203, 212);
  border-radius: 5px;
  width: 50%;
  height: 100%;
  border: 5px;
}

#versus h1 {
  color: brown;
  font-size: 60px;
  padding: 0%;
}

.changeVersus {
  transform: rotate(-20deg);
  text-align: center;
  background-color: rgb(21, 128, 7);
  border-radius: 5px;
  height: 80%;
  width: 80%;
}

.row .refresh-button {
  width: 80px;
  height: 75px;
}
